.footer_block
    background: #141A20
    color: #ffffff
    +responsive(1024px)
        padding: 10px 20px

.footer_nav
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding: 30px 0

.footer_co, .footer_links, .footer_contact
    display: flex
    flex-direction: column
    flex-wrap: wrap

.footer_co
    width: 27%
    & > .logo
        margin: 15px 0

.footer_title
    text-decoration: none
    color: #ffffff
    text-transform: uppercase
    
.footer_text
    +responsive(640px)
    display: none

.footer_link
    +font(600, 11px, 25px)
    letter-spacing: 0.846154px
    @extend .footer_title
    padding-bottom: 10px

.faq, .blog, .footer_social
    align-self: center
    +responsive(1024px)
        display: none

.footer_contact
    +responsive(450px)    
        display: none

.footer_social
    flex-direction: column

.footer_contact_item
    +font(normal, 11px, 15px)
    letter-spacing: 0.846154px
    padding-bottom: 15px

.footer_contact_item:first-child
    text-transform: uppercase

.footer_social
    display: flex
    justify-content: space-between

.soc_item
    height: 12px
    width: 12px
    padding-right: 40px
    +responsive(1024px)
        display: none

.fb
    background: url(../img/fb.png) 0 0 no-repeat

.tw
    background: url(../img/tw.png) 50% 50% no-repeat

.gl
    background: url(../img/gl.png) 100% 100% no-repeat

.copyright
    background: #171819
    color: #ffffff

.copyright_text
    +font(normal, 11px, 15px)
    letter-spacing: 0.846154px
    padding: 22px 0
    text-align: center 